pipeline/STG MAIN DATA LOAD.json
{
	"name": "STG MAIN DATA LOAD",
	"properties": {
		"activities": [
			{
				"name": "Get Data from SP",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					}
				}
			},
			{
				"name": "Last Month",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Data from SP ",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "LastMonth",
					"value": {
						"value": "@activity('Get Data from SP ').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Execute Load Achats",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Last Month",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "STG Data load_Achats",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Execute Load Cons",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Last Month",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "STG Data load_Cons",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"variables": {
			"LastMonth": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-06-28T12:37:12Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}