pipeline/STG Data Load - SP.json
{
	"name": "STG Data Load - SP",
	"properties": {
		"activities": [
			{
				"name": "get Accesstoken",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://accounts.accesscontrol.windows.net/bbc167d3-91fa-4a85-b1a0-c2ce130392ff/tokens/OAuth/2",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": "grant_type=client_credentials&client_id=17b988d5-fb54-42db-b6ea-37b9c949c7b0@bbc167d3-91fa-4a85-b1a0-c2ce130392ff&client_secret=Skf8Q~BS9U4AVMOXONm~DdtOwQVC4WCsX6.aXaKa&resource=00000003-0000-0ff1-ce00-000000000000/ansambleint.sharepoint.com@bbc167d3-91fa-4a85-b1a0-c2ce130392ff"
				}
			},
			{
				"name": "get Years",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "get Accesstoken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://ansambleint.sharepoint.com/sites/BI354/_api/web/GetFolderByServerRelativeUrl('/sites/BI354/Documents partages/General/Source de données/ANSAMBLE')?$expand=Folders&$select=Folders/ServerRelativeUrl",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"headers": {
						"Authorization": {
							"value": "@{concat('Bearer ',activity('get Accesstoken').output.access_token)}",
							"type": "Expression"
						},
						"Accept": "application/json;odata=verbose",
						"Content-Type": "application/json"
					}
				}
			},
			{
				"name": "Filter Years",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "get Years",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get Years').output.d.Folders.results",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(\n    item(), \n    \n        last(activity('get Years').output.d.Folders.results)\n        \n    )",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter Years",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter Years').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "get Months",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat('https://ansambleint.sharepoint.com/sites/BI354/_api/web/GetFolderByServerRelativeUrl('''\n        ,item().ServerRelativeUrl\n        ,\n        '/REALISE'')'\n        ,\n         '?$expand=Folders&$select=Folders/ServerRelativeUrl ')",
									"type": "Expression"
								},
								"connectVia": {
									"referenceName": "AutoResolveIntegrationRuntime",
									"type": "IntegrationRuntimeReference"
								},
								"method": "GET",
								"headers": {
									"Authorization": {
										"value": "@{concat('Bearer ',activity('get Accesstoken').output.access_token)}",
										"type": "Expression"
									},
									"Accept": "application/json;odata=verbose",
									"Content-Type": "application/json"
								}
							}
						},
						{
							"name": "Filter Months",
							"type": "Filter",
							"dependsOn": [
								{
									"activity": "get Months",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"items": {
									"value": "@activity('get Months').output.d.Folders.results",
									"type": "Expression"
								},
								"condition": {
									"value": "@not(empty(item().__metadata.uri))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "link",
								"value": {
									"value": "@item().ServerRelativeUrl",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"link": {
				"type": "String"
			},
			"linke": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ANSAMBLE - BI PROJECT"
		},
		"annotations": [],
		"lastPublishTime": "2023-07-11T16:31:15Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}